body {
  font-family: 'Tahoma', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.google-link {
  text-align: center;
  margin-top: 12px;
}

.card-title {
  text-align: center;
}

.card {
  border: solid 1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(203, 232, 255);
}

.jumbotron {
  background-color: rgb(102, 164, 215);
}

.navbar {
  background-color: rgb(102, 164, 215);
}

.card:hover {
  background-color: rgb(165, 213, 253);
}